h1{
    font-size: 2.5em;
    text-align: center;
}
.entrada{
    display: flex;
    gap: 1.5em;
    width: 100%;
    margin: 100px;
}
input{
    width: 800px;
    height: 50px;
    font-size: 1em;
}
button{
    width: 30%;
    border: none;
    border-radius: 100vw;
    background-color: wheat;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background-color: rgb(236, 230, 220);
}
.salida{
    width: 100%;
}
.comentario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}


.texto-comentario {
    flex: 1 1 auto;
    margin-right: 10px;
    word-wrap: break-word;
    min-width: 150px;
}

.fecha-comentario {
    white-space: nowrap;
    color: #777;
    font-size: 0.85em;
}

.comentario:hover {
    background-color: bisque;
}
